$primary-color: #056779;
$ul-background-color: #e4e4e4;

section {
  display: block;
  padding: {
    right: 20px;
    left: 20px;
  };
  font-family: Calibri, Verdana;
}

h1 {
  color: $primary-color;
}

ul {
  display: block;
  width: 50%;
  height: auto;
  margin-top: 20px;
  padding: 20px;
  color: $primary-color;
  background-color: $ul-background-color;
  border: 1px solid $primary-color;
  border-radius: 5px;

  li {
    margin-left: 10px;
  }
}
