<form
  [formGroup]="registerUserForm"
  (ngSubmit)="onSubmit()"
>
  <div class="input-label">
    <label for="nome">
      Nome: *
    </label>
    <input
      id="nome"
      type="text"
      formControlName="nome"
      maxlength="50"
      required
    >
    <span class="alert">{{ getAlert('nome', nome) }}</span>
  </div>

  <div class="input-label">
    <label for="email">
      E-mail: *
    </label>
    <input
      id="email"
      type="text"
      formControlName="email"
      maxlength="50"
      required
    >
    <span class="alert">{{ getAlert('email', email) }}</span>
  </div>

  <div class="input-label">
    <label for="password">
      Senha:*
    </label>
    <input
      id="password"
      type="password"
      formControlName="password"
      maxlength="50"
      required
    >
    <span class="alert">{{ getAlert('password', password) }}</span>
  </div>

  <input
    class="input-submit"
    type="submit"
    value="Cadastrar"
  >
  <span
    *ngIf="isSubmit"
    class="feedback-message"
    [class.feedback-message-error]="registerUserForm.invalid"
    [class.feedback-message-success]="registerUserForm.valid"
  >
    {{ feedbackMessage }}
  </span>
</form>
